@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@500;600;700;800&family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  background-color: #fbf7ec;
  color: #26301f;
}

body {
  font-family: "Inter", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}
